html{
    background-image: url("/assets/images/greene.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: springgreen;
}



@font-face {
    font-family: "Rajdan";
    src: url("/assets/fonts/Rajdhani-Light.ttf");
    font-weight: 400;
    font-stretch: extra-condensed;
}

.container {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px;
    padding: 10px;
    border: double;
    background-color: rgb(12, 145, 12);
    color:white;
    box-shadow: 10px 10px 10px black;
    font-family: "Rajdan";
    font-size: 19px;
    font: bold;
    font-weight: ;
} 

.links a{
    color: black;
    font:bold;
}


.header {
    color:blanchedalmond;
    font-family:"Rajdan" ;
    font-size: 100px;
    font-weight: 600;
    text-align: left;
    border-top: solid;
}

h3 {
    font-family: Rajdan;
    text-align: justify;
    color:blanchedalmond;
    font-size: 30px;
    max-width: 94%;
    font-weight: 600;
}

img{
    width: 28%;
    box-shadow: 10px 10px 10px black;
    margin: 30px 30px 30px;}

.boxed {
    width: 30%;
    display:inline;
    font-size: 30px;
    font-family: Rajdan;
    text-align:end;
    font-weight: bolder;
    border: double;
    position: relative;
    margin: 10%;
    box-shadow: 10px 10px 10px black ;
    background-color: rgb(25, 209, 49);  
}

.gotop {
    position: relative;
    
}
.TopBtn {
    position: absolute;
    bottom: 00px;
    right: 0px;
    margin: 10px;
    padding: 10px;
    border: double;
    background-color: rgb(12, 145, 12);
    box-shadow: 10px 10px 10px black;
}

.TopBtn a {
    color: black;
    font: bold;
    font-size: 19px;
    font-family: "Rajdan";
}