html{
    background-image: url("/assets/images/greene.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: springgreen;
}


@font-face {
    font-family: "Rajdan";
    src: url("/assets/fonts/Rajdhani-Light.ttf");
    font-weight: 400;
    font-stretch: extra-condensed;
}

.container {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px;
    padding: 10px;
    border: double;
    background-color: rgb(12, 145, 12);
    color:white;
    box-shadow: 10px 10px 10px black;
    font-family: "Rajdan";
    font-size: 19px;
    font: bold;
    font-weight: ;
} 

.links a{
    color: black;
    font:bold;
}


.header {
    color:blanchedalmond;
    font-family:"Rajdan" ;
    font-size: 100px;
    font-weight: 600;
    text-align: left;
    border-top: solid;
}

h3 {
    font-family: Rajdan;
    text-align: justify;
    color:blanchedalmond;
    font-size: 30px;
    max-width: 94%;
    font-weight: 600;
}

p {
   font-family: Rajdan;
    text-align: justify;
    color:blanchedalmond;
    font-size: 25px;
    max-width: 94%;
    font-weight: 600;
}

.main {
    display: inline-block;
    margin-bottom: 60px;
}

.repi {
    max-width: 28%;
    box-shadow: 10px 10px 10px black;
    margin: 30px 30px 30px;
}

#firstpg{
    width: 28%;
    box-shadow: 10px 10px 10px black;
    margin: 30px 30px 30px;
}
/* mobile view. Screen width is less or equal to 576 px)*/
@media screen and (max-width: 576px) {
    #firstpg {width:100%;
        font-weight: 600;

    }
    }

/* Tablet view*/
@media screen and (min-width: 577px) and (max-width:768) {
    #firstpg {width:100%;
    }
}
.gallery {
    display: inline-block;
    margin-bottom: 60px;
}
#galimg {
    width: 29%;
    box-shadow: 10px 10px 10px black;
    margin: 30px 30px 30px;
}

.teamabout {
    display: inline-block;
    padding: 10px;
}
#about {
    width: fit-content;
    display: inline-block;
    box-shadow: 10px 10px 10px black;
    margin: 30px 30px 30px;
}

.boxed {
    display: inline-block;
    box box-sizing: border-box;
    width: 12%;
    margin:5%;
    font-size: 2em;
    font-family: Rajdan;
    height: 5em;
    line-height: 5em;
    text-align:center;
    font-weight: bolder;
    border: double;
    border-radius: 3px;
    margin: 10%;
    box-shadow: 10px 10px 10px black ;
    background-color: rgb(25, 209, 49);  
}


.box {
    display: flex;
    align-items: center;
    border-bottom: solid 1px blanchedalmond;
    margin-bottom: 2em;
}

.fieldset {
    font-family: Rajdan;
    text-align: justify;
    color:blanchedalmond;
    font-size: 20px;
    font-weight: 500;  
    border: double rgb(20, 80, 15);
    

}
.urlap {
    font-family: Rajdan;
    text-align: justify;
    color:blanchedalmond;
    font-size: 20px;
    font-weight: 500; 
    bottom: 30px; 
    }

input[type=text], [type=email], textarea {
    width: 20%;
    padding: 8px;
    border: double rgb(7, 100, 7);
    border-radius: 10px;
    box-sizing: content-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
  }

.submit-btn {
    position: relative;
    bottom: 00px;
    right: 0px;
    margin: 10px;
    padding: 10px;
    border: double;
    background-color: rgb(12, 145, 12);
    box-shadow: 10px 10px 10px black;
}

.gotop {
    position: relative;
}
.TopBtn {
    position: absolute;
    bottom: 10px;
    right: 0px;
    margin: 10px;
    padding: 10px;
    border: double;
    background-color: rgb(12, 145, 12);
    box-shadow: 10px 10px 10px black;
}

.TopBtn a {
    color: black;
    font: bold;
    font-size: 19px;
    font-family: "Rajdan";
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }